doctype html
html
   head
      title Civalittle - #{game}
   body
      include ./header.pug
      H1 #{game} Stats
      table
        tr
          th(align="left") Player
          th(align="left") Average Time Per Turn*
        each player, idx in players
          tr
            td #{player}
            td #{turnTime[player]['avgTimePerTurnString']}
      br()
      b() *Sorted Descending by Average Time Per Turn
      H2 Additional Stats
      ul
        li
          strong Round:
          |  #{currentRound} of #{maxRound}
        li
          strong Waiting on Player:
          |  #{currentPlayer}
        li
          strong Estimated Time Left:
          |  #{maxEstimatedTimeLeft}
        li
          strong Estimated Completion Date:
          |  #{maxEstimatedDateComplete}
